* {
    border: none;
    font-family: "JetBrainsMono Nerd Font", "JetBrainsMono-Bold", "Symbols Nerd Font";
    font-weight: normal;
    font-size: 16px;
    min-height: 0px;
}

@define-color blue #51a2da;
@import "themes/theme.css";

window#waybar {
    background: @bar-bg;
}

tooltip {
    background: @main-bg;
    color: @main-fg;
    border-radius: 8px;
    border-width: 0px;
}

#workspaces button,
#taskbar button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    color: @main-fg;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
    margin: 0px 10px;
}

#workspaces button.active,
#taskbar button.active {
    background: @wb-act-bg;
    color: @wb-act-fg;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover,
#taskbar button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-fg;
    padding-left: 3px;
    padding-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#backlight,
#battery,
#bluetooth,
#custom-cliphist,
#clock,
#cpu,
#custom-gpuinfo,
#idle_inhibitor,
#language,
#memory,
#custom-mode,
#mpris,
#network,
#custom-power,
#pulseaudio,
#custom-spotify,
#taskbar,
#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#window,
#workspaces,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
    color: @main-fg;
    background: @main-bg;
    opacity: 1;
    margin: 4px 0;
    padding: 0 4px;
}

#workspaces,
#taskbar {
    padding: 0;
}

#custom-r_end,
#custom-sr_end,
#custom-rr_end {
    border-radius: 0 22px 22px 0;
    margin-right: 9px;
    padding-right: 3px;
}

#custom-l_end,
#custom-sl_end,
#custom-rl_end {
    border-radius: 22px 0 0 22px;
    margin-left: 9px;
    padding-left: 3px;
}

#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
    border-radius: 0;
}

#custom-menu {
	background-color: @main-bg;
	color: @blue;
    font-size: 18px;
	padding: 4 5px;
	margin: 7 10px;
	border-radius: 20px;
}

#custom-sep {
	background-color: @main-bg;
	color: @main-bg;
	margin: 4px 0;
    padding: 0 4px;
}

#window {
	font-weight: bold;
}

#custom-playerctl, #custom-playerlabel {
    background: @main-bg;
    border-radius: 16px;
    border-left: solid 1px #282738;
    border-right: solid 1px #282738;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}

#custom-playerctl {
    padding-left: 15px;
    padding-right: 14px;
}

#custom-playerlabel {
    background: transparent;
    padding-left: 10px;
    padding-right: 15px;
}

